.m-top {
  margin-top: var(--margin-alt-3);
}
.m-bottom {
  margin-bottom: var(--margin-alt-3);
}
.test {
  margin: var(--margin-alt-4);
}
.img-height {
  height: 150px;
}
@media screen and (min-width: 600px) {
  .card-height {
    height: var(--size-alt-1);
  }
}

.expand {
  transform: 'rotate(0deg)';
  margin-left: 'auto';
  transition-duration: 200ms;
}

.expandOpen {
  transform: 'rotate(180deg)';
}
