.m-top {
  margin-top: var(--margin-alt-3);
}
.img-height {
  height: 150px;
}
@media screen and (min-width: 600px) {
  .m-right {
    margin-left: var(--margin-alt-2);
    margin-left: var(--margin-alt-2);
  }
}
