/**
================= gallery css =================
*/
.fab {
  position: absolute;
  bottom: 0;
  right: 0;
}

.btn-spacing {
  margin-left: var(--margin-alt-3) !important;
}

.dialog-min-width {
  min-width: 400px !important;
}
