.paper-spacing {
  padding-left: var(--pading-alt-1);
  padding-right: var(--padding-alt-1);
  padding-bottom: var(--pading-alt-1);
  padding-top: 5px;
}
@media (min-width: 991.98px) {
  .paper-width {
    width: 80%;
    margin: auto;
  }
}

.upload {
  display: flex;
  justify-content: flex-end;
}
