/**
  this files contains css that makes  material-ui table responsive when displayed on mobile
*/
@media screen and (max-width: 600px) {
  table {
    border: 0 !important;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
  }

  table tr {
    border-bottom: 3px solid var(--color-primary) !important;
    display: block !important;
    margin-bottom: 0.625em !important;
  }

  table td {
    border-bottom: 1px solid #ddd !important;
    display: block !important;
    font-size: 0.8em !important;
    text-align: right !important;
  }

  table td::before {
    /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label) !important;
    float: left !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
  }

  table td:last-child {
    border-bottom: 0 !important;
  }
}
